<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.two.TwoMapper">

    <insert id="insert" parameterType="com.example.demo.mapper.two.TwoTable">
        insert two_table (id,field) values(#{twoTable.id},#{twoTable.field,jdbcType=VARCHAR});
    </insert>


    <select id="select" resultType="com.example.demo.mapper.two.TwoTable">
        select * from two_table
    </select>


</mapper>