<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.one.OneMapper">

    <insert id="insert" parameterType="com.example.demo.mapper.one.OneTable">
        insert one_table (id,field) values(#{oneTable.id,jdbcType=VARCHAR},#{oneTable.field,jdbcType=VARCHAR});
    </insert>


    <select id="select" resultType="com.example.demo.mapper.one.OneTable">
        select * from one_table
    </select>


</mapper>